@import './typography.scss';
@import './variables.scss';

html {
    font-size: 62.5%; // Esto hace que 1rem = 10px (62.5% de 16px)
}

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: #{$value} !important;
  }
  .text-#{$name} {
    color: #{$value} !important;
  }
}

.q-field__native {
    color: $dark!important;
}

::v-deep(.inner-scroll) {
    
        color: #000000 !important;
    }


.q-btn {
  &.basic-btn {
    display: flex;
    min-height: 56px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 200px;
    background: $primary!important;
    box-shadow: none;
    text-transform: capitalize;
    @extend .body-bold;
  }
  &::before {
    box-shadow: none!important;
  }
}

.h-full {
    height: 100%!important;
}

.w-full {
    width: 100%!important;
}


